.wrapper {
    position: relative;
}

.container_empty {
    position: absolute;
}

.container {
    position: absolute;
}

.container img {
    visibility: hidden;
}

.container:hover img {
    visibility: visible;
}